body {
  font-weight: bold;
  font-size: 22px;
}

.name {
  position: fixed;
  top: 10%;
  left: 2%;
  font-size: 35px;
}

.parallelogram {
  top: 20%;
  left: 30%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 200px 200px 200px;
  height: 75px;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border: solid #5f9ea0 7px;
  transform: skew(-12deg);
}

.time {
  position: fixed;
  left: 2%;
  top: 25%;
  font-size: 12px;
}

ul {
  position: fixed;
  top: 30%;
  left: -5%;
  font-size: 15px;
}

.container {
  position: fixed;
  right: -1%;
  top: 53%;
}
.cities {
  position: fixed;
  color: red;
  top: 3%;
  right: 4%;
  font-weight: 10%;
  font-size: 80%;
}
.search {
  text-align: center;
  position: fixed;
  bottom: 2%;
  left: 12%;
}
.button:hover {
  opacity: 0.9;
  cursor: pointer;
}
.button {
  border-radius: 8px;
  transition: all 10ms ease-in-out;
  box-shadow: 10px 10px 10px;
  color: white;
}
.current-location {
  transition: all 10ms ease-in-out;
  position: fixed;
  color: black;
  background-color: #ade0f8;
  bottom: 2%;
  right: 13%;
  border-radius: 3px;
}
.current-location:hover {
  opacity: 0.9;
  cursor: pointer;
}

.footer {
  text-align: center;
  font-size: 12px;
  position: fixed;
  bottom: 210px;
  left: 50%;
  transform: translateX(-50%);
}